<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qiaomu.test.mapper.one.StudentOneMapper" >
    <insert id="insert" parameterType="com.qiaomu.test.domain.Student">
       INSERT INTO student (id,className,age) values(#{id},#{className},#{age})
    </insert>
</mapper>